---
http_interactions:
- request:
    method: get
    uri: https://edamam.com/search?r=http://www.edamam.com/ontologies/edamam.owl%23recipe_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.edamam.com/search?r=http://www.edamam.com/ontologies/edamam.owl%23recipe_id
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 05 Nov 2017 22:28:41 GMT
- request:
    method: get
    uri: https://www.edamam.com/search?r=http://www.edamam.com/ontologies/edamam.owl%23recipe_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Nov 2017 22:28:42 GMT
recorded_with: VCR 3.0.3
