/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import url('https://fonts.googleapis.com/css?family=Courgette');


  h3 {
    text-align: center;
  }

  h6 {
    text-align: center;
  }


 h3#main-title {
   font-family: 'Courgette', cursive;
   text-align: left;
 }


 li#next {
   border-radius: 25%;
 }

 .card {
   text-align: center;
 }
 #left {
   border: 2px solid blue;
   clear: left;
   float: left;
   width: 30%;
 }

 #right {
   border: 2px solid red;
   clear: right;
   float: right;
   width: 40%;
}
 .recipe-search {
   border: 1px solid green;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20%;
   width: 30%;
 }


 footer {
   background-color: grey;
   clear: both;
   color: white;
   /*position: absolute;*/
   bottom: 0;
   width: 100%;
   height: 3em}
