<footer class="footer-bottom">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <p>&copy; 2017 No rights reserved</p>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <p id="edamam-badge" >Powered by Edamam</p>
      </div>
    </div>
</footer>
